<!-- Logo -->
<aside id="logo" class="clearfix">
  <div class="clearfix">
    <a href="{{ root_url}}/">{{ site.title }}</a>
  </div>
</aside>

<ul id="menu">
{% if site.title %}
  <li class="title">
    <h1 id="title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  </li>
{% endif %}
{% if site.author %}
  <li class="author">
    <h2 id="author">{{ site.author }}</h2>
  </li>
{% endif %}
{% if site.subtitle %}
  <li class="subtitle">
    <h2 id="subtitle">{{ site.subtitle }}</h2>
  </li>
{% endif %}
</ul>
<div class="social">
{% if site.twitter_user %}
    <a href="http://twitter.com/{{ site.twitter_user }}/" class="twitter">twitter</a>
{% endif %}
{% if site.github_user and site.github_show_profile_link %}
    <a href="http://github.com/{{ site.github_user }}/" class="github">github</a>
{% endif %}
{% if site.linkedin_user %}
    <a href="http://www.linkedin.com/in/{{ site.linkedin_use }}/" class="linkedin">linkedin</a>
{% endif %}
    <a href="/atom.xml" class="rss">rss feed</a>
</div>

{% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
{% endif %}

<!-- Octopress Love -->
<aside id="octopress_linkback">
  <a href="http://octopress.org/">
    <span class="unicode_square">
      <span class="unicode_circle">
        &nbsp;
      </span>
    </span>
    <span class="octopress">Powered by Octopress</span>
  </a>
</aside>
